ion-img {
  height: 25vh;
  min-width: 25vw;
  max-width: 50vw;
  margin: auto;
}

ion-grid {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-spinner {
  width: 1.2rem;
  height: 1.2rem;
}

.reset-password-modal {
  --height: fit-content;
  --border-radius: 4px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--ion-color-tertiary);
    opacity: 0.3;
  }

  span {
    padding: 0 1rem;
    color: var(--ion-color-tertiary);
  }
}
