.container {
    position: relative;
    margin: 8px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    width: 100%;
    aspect-ratio: 2/3;

    ion-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }
}

.selected {
    outline-width: var(--outline-width, 8px);
    outline-style: solid;
    outline-offset: calc(-1 * var(--outline-width, 8px));
    outline-color: var(--stripe-color);
    transform: scale(0.96);
    transition: all 0.3s ease-in-out;
    opacity: 1;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(
            45deg,
            transparent 0%,
            transparent 45%,
            var(--stripe-color, currentColor) 45%,
            var(--stripe-color, currentColor) 55%,
            transparent 55%,
            transparent 100%
        );
        z-index: 1;
        opacity: 0.7;
        mix-blend-mode: multiply;
    }

    ion-img {
        filter: grayscale(70%);
        opacity: 0.5;
    }

    &.highlight {
        box-shadow: 0 0 0 3px currentColor;
    }
}

.disabled {
    outline: 8px dashed gray;
    outline-offset: -8px;
    color: gray;
}

.top-right {
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 3;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 4rem;
    backdrop-filter: blur(4px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}
