ion-img {
  height: 25vh;
  min-width: 25vw;
  max-width: 50vw;
  margin: auto;
}

ion-grid {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-spinner {
  width: 1.2rem;
  height: 1.2rem;
}
