<ion-card>
  <ion-card-header>
    <div class="card-toolbar">
      <ion-card-title>Reset password</ion-card-title>
      <ion-button (click)="dismiss()" color="danger" fill="clear" shape="round">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ion-card-header>
  <ion-card-content>
    <p>Send an email with a reset password link for:</p>
    <form [formGroup]="form">
      <ion-list lines="none">
        <ion-item>
          <ion-input
            (keyup.enter)="sendEmail()"
            placeholder="Email"
            enterkeyhint="done"
            formControlName="email"
            inputmode="email"
            type="email"
            fill="solid"
          >
            <ion-icon color="primary" name="mail" slot="start"></ion-icon>
            <ion-button
              (click)="sendEmail()"
              [disabled]="!form.valid || !canResend()"
              slot="end"
              fill="clear"
              shape="round"
            >
              <ion-icon name="send" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-input>
        </ion-item>
      </ion-list>
    </form>
    @if (emailStatus().success) {
    <p>
      Email successfully sent to
      <ion-text color="primary">{{ emailStatus().email }}</ion-text
      >, please check your inbox for further instructions.
    </p>
    <ion-button
      (click)="sendEmail(emailStatus().email)"
      [disabled]="!canResend()"
      expand="block"
    >
      @if(canResend()) { Send again } @else { Retry in {{ remainingTime() }} }
    </ion-button>
    } @else if (emailStatus().error) {
    <ion-text color="danger">
      <p>
        Something went wrong sending the email to
        <ion-text color="primary">{{ emailStatus().email }}</ion-text
        >, please try again later.
      </p>
    </ion-text>
    }
  </ion-card-content>
</ion-card>
